<br>
<% post.comments.forEach(function(comment,index){ %>
	<div style="padding-left:4em">
		<p><img src="<%=comment.head%>" alt="" class="l_head"><%=comment.name%></img></p>
	</div>
	<p>回复人:<a href="<%= comment.website %>"><%= comment.website %></a></p>
	<span class="info">回复时间:<%= comment.time %></span>
	<p><%- comment.content %></p>
<% })  %>
<form method="post">
	<% if(user){  %>
		name: <input type="text" name="name" value="<%= user.name %>"><br>
		email: <input type="text" name="email" value="<%=user.email%>"><br>
		web: <input type="text" name="website" value="/u/<%=user.name%>"><br>
	<% }else{  %>
		name: <input type="text" name="name"><br>
		email: <input type="text" name="email"><br>
		web: <input type="text" name="website"  value="http://"><br>
	<%  } %>
	<textarea name="content"  cols="80" rows="5"></textarea>
	<input type="submit" value="save">
</form>